//board
.board
    position: relative

.boardSquare, [class*='square']
    height: 64px
    width: 64px
    display: block

.boardSquare
    background-color: grey
    border: 1px solid black

.boardRow
    display: flex

.activeSquare
    position: absolute
    transition: all 1s

[class*='square']
    p
        width: 100%
        text-align: center

.square2
    background-color: red

.square4
    background-color: blue
