//board
.board
    position: relative

.boardSquare, .square2
    height: 64px
    width: 64px
    display: block

.boardSquare
    background-color: grey
    border: 1px solid black

.boardRow
    display: flex

.activeSquare
    position: absolute
    transition: all 1s

.square2
    background-color: red
