//board
.board
    position: relative

.boardSquare, [class*='square']
    height: 64px
    width: 64px
    display: block

.boardSquare
    background-color: grey
    border: 1px solid black

.boardRow
    display: flex

.activeSquare
    position: absolute
    transition: all 1s

.example-enter
  opacity: 0.01
  //transition: all 1s


.example-enter.example-enter-active 
  opacity: 1
  transition: all 500ms ease-in


.example-leave 
  opacity: 1


.example-leave.example-leave-active
  opacity: 0.01
  transition: all 300ms ease-in

.example-appear
  opacity: 0.01

.example-appear.example-appear-active
  opacity: 1
  transition: opacity .5s ease-in

[class*='square']
    p
        width: 100%
        text-align: center

.square2
    background-color: red

.square4
    background-color: blue
